<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Ordem Serviço</title>
</head>
<body>
    <div>
        <label>CENTRO DE CIÊNCIA DA SAÚDE</label><br>
        <label>CURSO DE ODONTOLOGIA</label><br>
        <label>UNIVERSIDADE FEDERAL DE SANTA MARIA</label><br>
    </div>
    <div>
        <h3>Cadastro de Ordem de Serviço de Manutenção</h3>
        <label>Equipamentos Odontológicos</label><br>
    </div>
    <div>
        <br>
        <form action="#"
              th:action = "@{/order/save}"
              th:object = "${order}"
              method="post">
            <table>
                <tr>
                    <td><label> Sala (Clínica): </label></td>
                    <td><input class="input is-primary" type="text" th:field="*{clinicNumber}" required></td>
                </tr>
                <tr>
                    <td><label> Solicitante: </label></td>
                    <td><input class="input is-primary" type="text" th:field="*{user}" required readonly></td>
                </tr>
                <tr>
                    <td><label> Data: </label></td>
                    <td><input class="input is-primary" type="text" th:field="*{creationDate}" required readonly></td>
                </tr>
                <tr>
                    <td><label> Box Nº: </label></td>
                    <td><input class="input is-primary" type="text" th:field="*{boxNumber}" required></td>
                </tr>
                <tr>
                    <td><label> Equipamento: </label></td>
                    <td><input class="input is-primary" type="text" th:field="*{equipment}" required></td>
                </tr>
                <tr>
                    <td><label> Problema Relatado: </label></td>
                    <td><textarea rows="5", cols="50" th:field="*{problem}"></textarea></td>
                </tr>
                <tr>
                    <td><label> Correção Realizada: </label></td>
                    <td><textarea rows="5", cols="50" th:field="*{solution}" readonly></textarea></td>
                </tr>
            </table>
            <button type="submit">Cadastar nova ordem</button>
        </form>
    </div>
</body>
</html>