<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Ordem Serviço</title>
</head>
<body>
<main>
    <figure class="image is-128x128">
        <img class="is-rounded" src="https://www.ufsm.br/app/uploads/2019/12/Dístico.png">
    </figure>

    <div>
        <label class="label">CENTRO DE CIÊNCIA DA SAÚDE</label>
        <label class="label">CURSO DE ODONTOLOGIA</label>
        <label class="label">UNIVERSIDADE FEDERAL DE SANTA MARIA</label>
        <br>
    </div>
        <h3 class="label">Atualização de Ordem de Serviço de Manutenção</h3>
        <label class="label">Equipamentos Odontológicos</label><br>
    <div>
        <br>
        <form action="#"
              th:action="@{/order/update}"
              th:object="${order}"
              method="post">
            <table>
                <tr>
                    <td><label class="label"> ID: </label><input class="input is-primary" type="text" th:field="*{id}" required readonly><br></td>
                </tr>
                <tr>
                    <td><label class="label"> Sala (Clínica): <input class="input is-primary" type="text" th:field="*{clinicNumber}" required></label><br></td>
                </tr>
                <tr>
                    <td><label class="label"> Solicitante: <input class="input is-primary" type="text" th:field="*{user}" required readonly></label><br></td>
                </tr>
                <tr>
                    <td><label class="label"> Data: <input class="input is-primary" type="text" th:field="*{creationDate}" required readonly></label><br></td>
                </tr>
                <tr>
                    <td><label class="label"> Box Nº: <input class="input is-primary" type="text" th:field="*{boxNumber}" required></label><br></td>
                </tr>
                <tr>
                    <td><label class="label"> Data: <input class="input is-primary" type="text" th:field="*{equipment}" required></label><br></td>
                </tr>
                <tr>
                    <td><label class="label"> Problema Relatado: <br><textarea rows="5" , cols="50" th:field="*{problem}"></textarea></label><br></td>
                </tr>
                <tr>
                    <td><label class="label"> Correção Realizada: <br><textarea rows="5" , cols="50" th:field="*{solution}" readonly></textarea></label><br></td>
                </tr>
            </table>
            <br>
            <a href="/order/list">
                <button class="button is-primary" type="submit">Voltar</button>
            </a>
            <button class="button is-primary" type="submit">Atualizar</button>
        </form>
    </div>
</main>

</body>
</html>