<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    aqui vai meu comentario para o futuro, tem dois order e dois solution
    os dois orders vao ser usado para o SOLICITANTE, que vai incluir toda firula
    os dois solution vao ser usado somente pelo TECNICO,
                       que vai ler tudo que outro escreveu e pode popular(update) a solucao

    o problema e pegar as info do repository e colocar la, pode ser pelo id mas tem que ter um construtor
    sem a solução, ou tirar o campo de nullable (pior)
</body>
</html>