<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar usuário</title>
</head>
<body>
<main>
    <div>
    <form action="#"
          th:action = "@{/auth/save}"
          th:object =" ${usr}"
          method="post">
        <table>
            <tr>
                <td><label> Login: </label></td>
                <td><input class="input is-primary" type="text" th:field="*{username}" required></td>
            </tr>
            <tr>
                <td><label> Senha: </label></td>
                <td><input class="input is-primary" type="password" th:field="*{password}" required></td>
            </tr>
            <tr>
                <td><label> Email: </label></td>
                <td><input class="input is-primary" type="text" th:field="*{email}" required></td>
            </tr>
            <tr>
                <td><label> Nome: </label></td>
                <td><input class="input is-primary" type="text" th:field="*{name}" required></td>
            </tr>
            <tr>
                <td><label> Cargo: </label></td>
                <td><input class="input is-primary" type="text" th:field="*{role}" required></td>
            </tr>

        </table>
        <button type="submit">Cadastar</button>
    </form>
    </div>
</main>
</body>
</html>