<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Atualizar Cadastro</title>
</head>
<body>
<!--                                                        post = esconde @nome=xxx&-->
<form action="#" th:action = "@{/user/update}" th:object="${user}" method="post">
  <table>
    <tr>
      <td><label> Id: </label></td>
      <td><input class="input is-primary" type="text" th:field="*{id}" readonly></td>
    </tr>

    <tr>
      <td><label> Login: </label></td>
      <td><input class="input is-primary" type="text" th:field="*{username}" required></td>
    </tr>

    <tr>
      <td><label> Senha: </label></td>
      <td><input class="input is-primary" type="password" th:field="*{password}" required></td>
    </tr>

    <tr>
      <td><label> Email: </label></td>
      <td><input class="input is-primary" type="text" th:field="*{email}" required></td>
    </tr>

    <tr>
      <td><label> Nome: </label></td>
      <td><input class="input is-primary" type="text" th:field="*{name}" required></td>
    </tr>

    <tr>
      <td><label> Cargo: </label></td>
      <td><input class="input is-primary" type="text" th:field="*{role}" required></td>
    </tr>

  </table>
  <input type="submit" value="Alterar">
</form>

</body>
</html>