<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Ordens Cadastradas</title>
</head>
<body>
<main>

    <figure class="image is-128x128">
        <img class="is-rounded" src="https://www.ufsm.br/app/uploads/2019/12/Dístico.png">
    </figure>

    <div>
        <label class="label">CENTRO DE CIÊNCIA DA SAÚDE</label>
        <label class="label">CURSO DE ODONTOLOGIA</label>
        <label class="label">UNIVERSIDADE FEDERAL DE SANTA MARIA</label>
        <br>
    </div>

    <h2>Registro de Ordens Solicitadas</h2>
    <table class="table is-borded">
        <tr>
            <td>ID</td>
            <td>SALA</td>
            <td>SOLICITANTE</td>
            <td>DATA</td>
            <td>BOX</td>
            <td>EQUIPAMENTO</td>
            <td>AÇÕES</td>
        </tr>
        <tr th:each="p : ${orders}"> <!-- th:each = FOREACH p on orders  -->
            <td th:text="${p.id}"></td>
            <td th:text="${p.clinicNumber}"></td>
            <td th:text="${p.user.username}"></td>
            <td th:text="${p.creationDate}"></td>
            <td th:text="${p.boxNumber}"></td>
            <td th:text="${p.equipment}"></td>
            <td>
                <a th:href="@{/solution/update/{id}(id=${p.id})}">
                    <button class="input is-primary" type="submit">Enviar solução</button>
                </a>
            </td>
        </tr>
    </table>

    <div>
        <a href="/auth/welcome">
            <button class="button is-primary" type="submit">Voltar página</button>
            <br>
            <br>
        </a>
        <a href="/order/create">
            <button class="button is-primary" type="submit">Criar nova ordem</button>
        </a>
        <br>
        <br>
        <form th:action="@{/auth/logout}" method="post">
            <input class="button is-primary" type="submit" value="Logout"/>
        </form>
    </div>
</main>
</body>
</html>